# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Rider
.idea/
*.sln.iml

# Logs
*.log

# Build results
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Others
*.swp
*.bak
*.tmp
*.tmp*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# TeamCity
_TeamCity*

# DotTrace
*.dotTrace

# Rider
.idea/
*.sln.iml

# Local history for Visual Studio
.localhistory/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# VS Code directories
.history/

# JetBrains Rider
.idea/ 